h1 {
  font-family: sans-serif;
  font-size: Bold;
  color: red;
}

h2, h3, h4, h5, h6 {
  font-family: arial;
  font-style: italic;
  color: rgb(190, 99, 99)
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-roman;
}

ul {
  list-style-image: url('Images/pointer-icon.png');
}

#menu-bar a{
font-family : Helvetica, sans-serif;
text-decoration : none;
background-color: aquamarine;
padding : 5px;
}
#menu-bar a:hover{
background-color: aqua;
color : #ffffff;
}